<div>

	<table ng-table class="table">
                <tr ng-repeat="item in items">
                    <td data-title="'Código'">{{item.propertyMap.name}}</td>
                    <td data-title="'Descrição'">{{item.propertyMap.description}}</td>
                    <td data-title="'Preço #1'">{{item.propertyMap.price}}</td>
                    <td data-title="'Preço #2'">{{item.propertyMap.price1}}</td>
                    <td data-title="'Preço #3'">{{item.propertyMap.price2}}</td>

                </tr>
    </table>
</div>
