<div>
	<section layout="row" layout-sm="column" layout-align="end center">
      <md-button class="md-icon-button md-primary" aria-label="Add" ng-click="my.showAddItem($event)">
        <i  class="glyphicon glyphicon-plus"></i>
      </md-button>
	</section>
	<table ng-table="my.tableParams" class="table">
                <tr ng-repeat="item in $data">
                    <td data-title="'Código'">{{item.propertyMap.name}}</td>
                    <td data-title="'Descrição'">{{item.propertyMap.description}}</td>
                    <td data-title="'Preço #1'">{{item.propertyMap.price}}</td>
                    <td data-title="'Preço #2'">{{item.propertyMap.price1}}</td>
                    <td data-title="'Preço #3'">{{item.propertyMap.price2}}</td>

                </tr>
    </table>
</div>
